extends layout

block content
  h1= nickname
    p 你好 #{nickname}
    p 城市 #{city}
    p 省份 #{province}
    p headimgurl #{headimgurl}
    img(src="/#{headimgurl}" style="width:140px;height:140px;margin:5px")

